$dark1: #23212a;
$dark2: #26252b;
$light1: #fef9f7;
$accent: #ff8551;
$black: black;
$white: white;

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;

  h1 {
    overflow: hidden;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;

    span {
      color: $accent;
      font-family: 'Poppins', sans-serif;
    }
  }
  .hero {
    img {
      width: 700px;
      height: 700px;
      object-fit: cover;
    }
  }
  @media (max-width: 1350px) {
    flex-wrap: wrap-reverse;
    margin-bottom: 5rem;
    .hero {
      img {
        width: 100%;
        height: unset;
      }
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 10vw;
    }
  }
}
.category-title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $dark2;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 2rem auto;
  margin-bottom: 5rem;

  a {
    text-decoration: none;
  }

  .product {
    flex: 1;
  }

  .categories-book {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    gap: 1rem;
    padding: 1.5rem;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.185) 0px 5px 10px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    border-radius: 5px;

    .img-container {
      height: 180px;
      background: transparent;
      border-radius: 0.3rem;
      overflow: hidden;
      box-shadow: rgba(85, 85, 85, 0.473) 0px 20px 30px -20px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .categories-book-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 120px;
      overflow: hidden;
      gap: 7px;
      h1 {
        font-size: 1rem;
        color: $dark1;
        font-weight: bold;
      }
      h5 {
        font-size: 0.8rem;
        color: $accent;
      }

      p {
        font-style: italic;
        font-weight: lighter;
        font-size: 12px;
        color: $dark1;
      }
    }
  }

  @media (max-width: 1300px) {
    flex-wrap: wrap;
    align-content: stretch;
    .categories-book {
      flex-direction: column;
      align-items: center;
      height: 38vh;
    }
  }
  @media (max-width: 750px) {
    .product {
      flex: 1 0 45%;
    }
  }
  @media (max-width: 450px) {
    .product {
      flex: 1 0 100%;
    }
  }
}
