$dark1: #23212a;
$light1: #fef9f7;
$accent: #ff8551;
$black: black;
$white: white;

.main {
  .detail__container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 3rem auto;
    height: 60vh;
  }
  .detail__image--container {
    max-width: 40vw;
    max-height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 10px;
    img {
      width: 22vw;
    }
  }

  .detail__content--container {
    // display: flex;
    // flex-direction: column;
    // gap: 3rem;

    .detail__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: justify;
      padding: 3rem 3rem;
      gap: 1.6rem;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 0.8rem;
        font-weight: 800;
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 20vh;
        overflow: hidden;
      }

      .description span {
        font-size: 1rem;
        font-weight: 800;
      }

      .description p {
        font-weight: lighter;
      }
      button {
        border: 1px solid $dark1;
        color: $light1;
        padding: 0.5rem 1rem;
        background: $dark1;
        text-decoration: none;
        border-radius: 0.5rem;
      }

      button:hover {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: scale(1.3);
      }
    }
  }
}
